*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,  sans-serif;
    line-height: 1.6;
}

#container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul li {
display: inline;
margin-right: 20px;
}

nav{
    background-color: #333;
    color: #e32222;
    padding: 10px 0;
}

ul{
    list-style-type: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    padding: 50px 0;
}

h2{margin-bottom: 20px;
}

#portfolio_info{
    margin-bottom: 20px;
}

#portfolio_info img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

form label{
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
   padding: 10px 20px;

}

form button:hover {
    background-color: #555;
}
